* {
  box-sizing: border-box;
  margin: 0;
  Padding: 0;
  background-color: rgb(0, 0, 0);
  color: white
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.active{
  color:#5c005f;
}
/*header section*/
header {
  display:flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 20px 10px 0px 10px;
  justify-content: center;
  border-top: 10px ridge #5c005f;
}
header h1 {
  color: #ffffff;
  background-color: black; 
  font-weight:bolder;
  font-size: 60px;
  align-items: baseline;
  justify-content: center;
  border-bottom: 10px double #5c005f;

}

header a {
  text-decoration: None;
  color: #ffffff;
}
/*navigation bar*/
nav {
  background-color: black;
  padding:20px;
  list-style: none;
  color: #ffffff;
  border-bottom: 10px ridge #5c005f;
}
nav ul {
  background-color: black;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  
}
nav ul li {
  background-color: black;
  padding: 0 20px;
  font-size: 30px;
  list-style: none;
  
}
nav ul li a {
  background-color: black;
  color: #ffffff;
  text-decoration: none;
  
  
}
nav ul li a:hover {
  color: #5c005f;
}
.greetings {
  color:white;
  padding: 30px 10px 10px 10px;
  font-size: 27px;
  font-weight: normal;
  
  text-align: center;
}

/*hero section*/

.hero-content-image {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 60px;
}
.hero-content-image img {
  width: 20vw;
  border: 8px ridge #5c005f;
}

/* about me section*/
.about {
  display:flex;
  flex-direction: column;
  background-color: black;
  padding: 20px 0px;
  justify-content: center;
}
.about h2 {
  display: flex;
  justify-content: center;
  border-bottom: 10px ridge #5c005f;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px white;
}
.about p {
  padding: 20px;
  flex-wrap: wrap;
  font-size: 22px;
  color: white;
}

/*contact styling starts*/
.contact {
  display:flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  justify-content: center;
}
.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
  text-shadow: 1px 1px 1px white;
}
.contact p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
}
.contact address {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
}
.contact address a {
  text-decoration: none;
  color: #5c005f;
}
/* contact styling ends*/

/* resume styling begins */
.resumeBtn {
  
}
/* resume styling ends */

/* footer styling begins */
.content-container {
  min-height: calc(100vh - 72px);
}
.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}
.footer {
padding: 10px;
background-color: gray;
border-Top: 10px ridge #5c005f;
align-items: baseline;
}
.footer-h2 {
  display: inline;
  color: hsl(298, 88%, 16%);
  font-size: 30px;
}
.footer-div {
  float: right;
  line-height: 1.2;
  text-align: right;
  background-color: gray;
  
}
.footer-a {
  color: #024e76;
  margin:0 1rem;
  background-color: gray;
}
/* footer styling ends */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .hero-content-image img {
      width: 25vw;
      border: 8px ridge #5c005f;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .greetings {
      font-size: 20px;
      padding: 10px 25px 5px 30px;
  }
  .hero {
      padding: 10px 0px;
  }
  .hero-content-image img {
      width: 25vw;
      border: 8px ridge #5c005f;
  }
  header h1 {
      font-size: 40px; 
  }
  nav ul li {
      font-size: 20px;
  }
  .about h2 {
      font-size: 38px;
  }
  .about p {
      font-size: 18px;
  }
  .contact h2 {
      font-size: 36px;
  }
  .footer {
    border-Top: 8px ridge #5c005f;
    }
  
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header {
      border-top: 8px ridge #5c005f;
      }
  nav {
      border-bottom: 8px ridge #5c005f;
  }
  header h1 {
     font-size: 40px; 
  }
  nav ul li {
      font-size: 20px;
  }
  .greetings {
      font-size: 20px;
      padding: 10px 5px 5px 10px;
  }
  .hero-content-image img {
      width: 35vw;
      border: 8px ridge #5c005f;
  }
  .about h2 {
      font-size: 38px;
  }
  .about p {
      font-size: 16px;
  }
  .contact h2 {
      font-size: 36px;
  }
  .footer {
    border-Top: 8px ridge #5c005f;
    }
 
}

@media screen and (max-width: 507px) {
  header {
      border-top: 5px ridge #5c005f;
      }
  nav {
      border-bottom: 5px ridge #5c005f;
  }
  header h1 {
      font-size: 30px; 
  }
  nav ul li {
      justify-content: space-between;
      font-size: 18px;
   }
   .greetings {
      font-size: 19px;
      padding: 10px 5px 5px 10px;
  }
  .hero-content-image img {
      width: 40vw;
      border: 5px ridge #5c005f;
  }
  .about h2 {
      font-size: 30px;
  }
  .about p {
      font-size: 18px;
  }
  .contact h2 {
       font-size: 30px;
  }
  .contact p {
      font-size: 16px;
  }
  .contact address {
      font-size: 16px;
  }
  .footer {
    border-Top: 5px ridge #5c005f;
    }
}

@media screen and (max-width: 406px) {
  header {
      border-top: 5px ridge #5c005f;

  }
  nav {
      border-bottom: 5px ridge #5c005f;
  }
  header h1 {
      font-size: 26px;
  }
  nav ul li {
      justify-content: space-between;
      font-size: 14px;
  }
  .greetings {
      font-size: 18px;
      padding: 10px 5px 5px 10px;
  }
  .hero-content-image img {
      width: 40vw;
      border: 5px ridge #5c005f;
  }
  .about h2 {
      font-size: 30px;
   }
  .about p {
      font-size: 16px;
  }
  .contact h2 {
      font-size: 30px;
  }
  .contact p {
      font-size: 15px;
  }
  .contact address {
      font-size: 16px;
  }
  .footer {
    border-Top: 5px ridge #5c005f;
    }
}